<connectionStrings>
  <!--Name: This is the string that you will reference on your web form to point to the database you are interested in
      ConnectionString: has 3 parameters
          Data Source: Indicates the SQL Server Name
          Initial Catalog: Indicates the SQL Database Name
          Integrated Security: Set to True
      
      ProviderName: This indicates the type of client your database needs (we have an Sql database therefore our client is the SqlClient)
  -->
  <add name="NWDB"
       connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security = true"
       providerName="System.Data.SqlClient"/>
  
  <!--<add name="NWDB"
       connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security = true"
       providerName="System.Data.SqlClient"/>-->
</connectionStrings>
